.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 800px;
  margin: 0 auto;

  .bingo {
    color: white;
    font-weight: bolder;
    position: absolute;
    top: 40%;
    font-size: 21rem;
    text-shadow: 10px 7px 11px #0d1428;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }

  @keyframes spin {
    from {
      transform:rotate(0deg);
    }
    to {
      transform:rotate(360deg);
    }
}

  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    &.squares {
      width: 150px;
      height: 150px;
      color: #4D4D4D;
      border-radius: 1px;
      border: 1px solid #000;
      background-color: #E7E7E7;
      border-radius: 20px;
      border: #e6890d solid 4px;
      box-shadow: 5px 4px 5px 2px rgb(46 51 72 / 60%);
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "arial-black" !important;
      padding: 0;
      font-size: 16px;
      line-height: 16px;
      margin: 5px auto -3px auto;
      text-align: center;
      cursor: pointer;

      &:hover {
        background: #ffc636cf;
        box-shadow: 1px 1px 1px 1px rgb(46 51 72 / 60%);
      }
      &.select {
        background: #ffc636cf;
        box-shadow: 1px 1px 1px 1px rgb(46 51 72 / 60%);
      }
      span {
        padding: 20px;
        word-break: break-word;
        text-transform: capitalize;
        font-family: sans-serif !important;
        font-weight: bolder !important;
      }
    }
  }

  button {
    margin-top: 20px;
    background: rebeccapurple;
    color: white;
    padding: 10px;
    border: 0;
    &:hover {
      cursor: pointer;
    }
  }
}
